MONGODB_URI="mongodb://localhost:27017/ephem"
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

BASE_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET = aodfmweoifmoifmofifoiwe